<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="css/project.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  </head>

  <body>
    <!-- new Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Summer Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Start</a>
          <a class="nav-item nav-link" href="/create">Create Route</a>
          <a class="nav-item nav-link" href="/animals">Animal Routes</a>
          <a class="nav-item nav-link" href="/update">Update Routes</a>
          <a class="nav-item nav-link" href="/delete">Delete Routes</a>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <h4>Summerproject</h4>
      by Jonathan Bahlmann // 453 524 <a href="jbahlmann@uni-muenster.de">jbahlmann@uni-muenster.de</a>
      <br>
      and Benjamin Rieke // 408 743 <a href="b_riek01@uni-muenster.de">b_riek01@uni-muenster.de</a>
    </div>

    <!-- footer -->
    <footer class="page-footer font-small">
        <p><center><a href="/author">Author Contacts</a> <p class="footertext">© 2019</p></center></p>
    </footer>

    <script src="jquery/jquery.js"></script>
    <script src="popper/umd/popper.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

  </body>
</html>
