<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- include osm -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/project.css">

  </head>

  <body onload="readRoutes();">
    <!-- navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Summer Project</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Start</a></li>
            <li><a href="/create">Create Route</a></li>
            <li><a href="/update">Update Route</a></li>
            <li><a href="/delete">Delete Route</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="form-inline mt-2 mt-md-0">
                       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                     </form>
                    </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div id="mapdiv" style="width: 100%; height: 500px;" ;></div>
    </div>

<!--    <div class="container-fluid">
      <h4>Route selection</h4>
    </div>
    <div class="container-fluid">
      <div id="results" class="row"></div>
    </div> -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h4>Route selection</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Username</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody id="resultTable">

            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <h4>Animal tracks?</h4>
        </div>
        <div class="col-sm-4">
          <h4>Meeting Points</h4>
        </div>
      </div>
    </div>

    <script src="/javascripts/client.js"></script>

    <!-- footer -->

    <div id="footer">
        <div class="container">

                <div class="row">
                <p><center><a href="/author">Author Contacts</a> <p class="footertext">© 2019</p></center></p>
            </div>
        </div>
    </div>

    <script src="/javascripts/client.js"></script>
  </body>
</html>
