<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>

    <!-- include osm
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    -->

    <!-- include bootstrap
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="css/project.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="leaflet/leaflet.css"/>
    <script src="leaflet/leaflet.js"></script>

  </head>

  <body>

    <!-- new Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Summer Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Start</a>
          <a class="nav-item nav-link" href="/create">Create Route</a>
          <a class="nav-item nav-link" href="/animals">Animal Routes</a>
          <a class="nav-item nav-link" href="/update">Update Routes</a>
          <a class="nav-item nav-link" href="/delete">Delete Routes</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div id="mapdiv" style="width: 100%; height: 500px;" ;></div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h4>Route selection</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Username</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody id="resultTable">

            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <h4>Meeting Func</h4>
          <textarea type="text" id="outputRoute1"></textarea>
          <textarea type="text" id="outputRoute2"></textarea>

           <button type="button" class="btn btn-secondary" onclick="lineStringsIntersect()">Check for meetings</button>

        </div>
        <div class="col-sm-4">
          <h4>Meeting Points</h4>
        </div>

      </div>
    </div>

    <!-- footer -->
    <footer class="page-footer font-small">
        <p><center><a href="/author">Author Contacts</a> <p class="footertext">© 2019</p></center></p>
    </footer>

    <script src="jquery/jquery.js"></script>
    <script src="popper/umd/popper.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <script src="/javascripts/turf.min.js"></script>

    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/meeting.js"></script>

  </body>
</html>
