<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- include osm -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">Assignment 7</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Start</a></li>
            <li><a href="/create">Create Route</a></li>
            <li class="active"><a href="/update">Update Route</a></li>
            <li><a href="/delete">Delete Route</a></li>
            <li><a href="/polygon">Polygon</a></li>
            <li><a href="/network">Network Analysis</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="author">Jonathan Bahlmann</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody id="routeTable">

        </tbody>
      </table>
    </div>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>new Name</th>
            <th>new Date</th>
            <th>new Description</th>
            <th>Submit</th>
          </tr>
        </thead>
        <tbody id="editTable">

        </tbody>
      </table>
    </div>


    <script src="/javascripts/update.js"></script>
  </body>
</html>
